{{- $auth := .Values.authSignIn -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: services
  annotations:
    nginx.ingress.kubernetes.io/auth-url: "http://ts-form-auth-webapp.{{ .Release.Namespace }}.svc.cluster.local:3000/auth-check"
    nginx.ingress.kubernetes.io/auth-signin: "http://{{ $auth.hostname }}:{{ $auth.port }}/auth/login"
    nginx.ingress.kubernetes.io/rewrite-target: /$2
spec:
  ingressClassName: nginx
  rules:
  - http:
      paths:
      - backend:
          service:
            name: nginx
            port:
              number: 80
        path: /nginx(/|$)(.*)
        pathType: ImplementationSpecific
