apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: auth
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$2
spec:
  ingressClassName: nginx
  rules:
  - http:
      paths:
      - backend:
          service:
            name: ts-form-auth-webapp
            port:
              number: 3000
        path: /auth(/|$)(.*)
        pathType: ImplementationSpecific
